.more_body {
  background-color: #e2737a;
  overflow: auto;
  height: 150vh;
}
.more-screen {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.more-lovepay {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: pink;
  margin-bottom: 50px;
  padding: 20px 0;
}
.more-lovepay__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}
.more-lovepay__row:last-child {
  font-size: 12px;
}

.more-lovepay__elem {
  display: flex;
  align-items: center;
}

.more-lovepay__elem i {
  margin: 0 5px;
}

.more-lovepay__elem__subtitle {
  font-size: 12px;
}
