.product {
  display: flex;
}

.product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-list__elem {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.product-list__elem img {
  height: 200px;
  width: 40vh;
  border-radius: 10px;
}

.product-list__elem span {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 20px;
}
